<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.em.dao.UserInfoDao">

	<resultMap type="UserInfo" id="usermap">
		<id property="userId" column="user_id" />
		<result property="roleId" column="role_id" />
		<result property="userName" column="user_name" />
		<result property="userSex" column="user_sex" />
		<result property="userAge" column="user_age" />
		<result property="userAccount" column="user_account" />
		<result property="userPassword" column="user_password" />
		<result property="userSalary" column="user_salary" />
		<result property="userMark" column="user_mark" />
		<result property="roleName" column="role_name" />
	</resultMap>

	<!-- 用户登陆 -->
	<select id="login" parameterType="UserInfo" resultMap="usermap">
		select *
		from user_info where user_account=#{userAccount} and
		user_password=#{userPassword}
		and user_mark='1'
	</select>
</mapper>
